* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.indexbody {
  width: min(100vw, 1000px);
  height: 100vh;
  line-height: 100vh;
  padding-bottom: 2vh;
  background-color: black;
  color: white;
  margin: 0 auto;
  font-family: 'Courgette', cursive;
  font-size: min(4.5vw, 4.5rem);
  font-weight: 200;
  text-align: center;
  letter-spacing: 12px;
  border-bottom: 2.5px solid #fff;
}

#banner {
  display: flex;
  height: 13vh;
  line-height: 13vh;
  margin-inline: auto;
  width: min(100vw, 1000px);
  background-color: black;
  padding-top: 2vh;
}

#banner span {
  margin-inline: auto;
}

.gsd-image {
  background-color: black;
  height: 65vh;
  width: min(100vw, 1000px);
}

.gsd-image img {
  width: min(100vw, 1000px);
  height: 100%;
  object-fit: cover;
}

.login {
  display: flex;
  flex-wrap: wrap;
  height: 6vh;
  line-height: 6vh;
  margin-top: 3vh;
  background-color: black;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: min(5.5vw, 1.5rem);
  font-weight: 400;
  text-align: center;
}

.logintext,
.entertext {
  border: 1px solid #fff;
  border-radius: 5px;
  width: 15rem;
  margin-top: 3vh;
  margin-inline: auto;
  height: 5vh;
  line-height: 5vh;
  padding-bottom: 5vh;
}

.login a,
.entertext a {
  color: #fff;
  text-decoration: none;
  height: 5vh;
  line-height: 5vh;
}
