* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: min(100vw, 1000px);
  height: 9vh;
  line-height: 9vh;
  padding-bottom: 2vh;
  background-color: black;
  color: white;
  margin: 0 auto;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family: 'Courgette', cursive;
  font-size: min(4.5vw, 1.5rem);
  font-weight: 200;
  text-align: center;
  letter-spacing: 12px;
  /* margin-bottom: .5vh; */
  border-bottom: 2.5px solid #fff;
}

#controls-area,
.footer-info-area {
  display: flex;
}

.item-controls-area-top-row,
.item-controls-area-second-row {
  display: flex;
  flex-wrap: wrap;
}

.display-select,
.item-controls-area-top-row,
.item-controls-area-second-row {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: min(2.5vw, 1.3rem);
  font-weight: 400;
  color: #fff;
  margin-inline: auto;
  width: min(85vw, 950px);
}

#controls-area {
  /* margin-top: 3vh; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: min(2.5vw, 1.3rem);
  font-weight: 400;
  color: #fff;
  margin-inline: auto;
  /* width: min(95vw, 950px); */
  width: min(100vw, 1000px);
  background-color: black;
  padding-top: 2vh;
}

.home {
  font-size: 2.5vh;
  margin-bottom: 2vh;
  color: darkgreen;
  margin-inline: 1vw;
}

.form-field label {
  /* display: inline-block; */
  width: 10rem;
}

.form-field input {
  margin: 1rem;
  width: 60%;
  height: 2rem;
}

.todo-form-field {
  display: flex;
}

.form-field-label {
  width: 35%;
  height: 4vh;
  line-height: 4vh;
}

.form-field-text-input {
  width: 100%;
}

.form-field-text-input input {
  height: 4vh;
  width: 75%;
}

.item-controls-area-top-row {
  justify-content: left;
}

.item-controls-area-second-row {
  justify-content: space-around;
}

#controls-area {
  justify-content: space-around;
}

#add-customer-control,
#add-todo-control {
  width: 25%;
}

.ctrl-btn {
  /* margin-top: 1rem; */
  width: 100%;
  background-color: black;
  color: white;
  height: 4vh;
  line-height: 4vh;
  border: 0.2px solid black;
  padding-inline: auto;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: min(2.5vw, 1.3rem);
  font-weight: 400;
  margin-inline: auto;
}

.ctrl-btn:hover {
  background-color: rgb(95, 158, 95);
  cursor: pointer;
}

.form-submit-button {
  margin-top: 1vh;
  width: 40%;
  height: 3vh;
  padding-inline: auto;
  margin-inline: auto;
}

.form-submit-button input:hover {
  background-color: rgb(95, 158, 95);
  cursor: pointer;
}
.form-submit-button input {
  width: 100%;
  background-color: darkgray;
  height: 100%;
  border: 0px;

  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: min(2.5vw, 1.3rem);
  font-weight: 500;
}

.display-filter-caption {
  color: white;
  font-size: min(3vw, 1.3rem);
  font-weight: 400;
  height: 4vh;
  line-height: 4vh;
}

#display-filter-control {
  /* margin-top: 1rem; */
  width: 20%;
}

.display-select {
  width: 100%;
  background-color: black;
  height: 4vh;
  line-height: 4vh;
  border: 0.2px solid black;
  padding-inline: auto;
  text-align: center;
}

.display-select option {
  width: 100%;
  background-color: rgb(209, 214, 212);
  color: black;
  height: 4vh;
  line-height: 4vh;
  border: 1px solid black;
  padding-inline: auto;
  text-align: center;
  font-size: 1rem;
}

.todo-item-summary {
  margin-top: 3vh;
  margin-inline: auto;
  width: min(95vw, 1000px);
  background-color: rgb(173, 192, 173);
  padding: 1rem;
}

.main-text-area-read-only {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  font-weight: 200;
  background-color: rgb(247, 240, 240);
  border: 1px solid darkgray;
  color: rgb(82, 81, 81);
  margin-block: 1.3vh;
  margin-inline: auto;
  width: min(85vw, 950px);
  height: 15vh;
  padding: 0.5rem;
}

.footer-info-area {
  margin-inline: auto;
  width: min(85vw, 950px);
  padding-inline: 1rem;
  justify-content: space-between;
  color: rgb(228, 236, 233);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: max(0.7vw, 0.5rem);
  font-style: italic;
}

.status-indicator {
  width: 3.6vh;
  border-radius: 50%;
  border: 0.3vh solid white;
}

.item-open {
  background-color: cornflowerblue;
}

.item-closed {
  background-color: rgb(156, 138, 37);
}

.item-completed {
  background-color: rgb(10, 63, 17);
}

.customer-caption {
  height: 3.6vh;
  line-height: 1vh;
  width: min(35%, 200px);
  color: white;
  background-color: black;
  padding-inline: 1vw;
  padding-block: 1vh;
  border-radius: 1rem;
  border: 0.3vh solid white;
  margin-left: 1.2rem;
  text-align: center;
  font-size: min(3.5vw, 1.2rem);
  font-weight: 400;
}

.title-caption {
  height: 3.6vh;
  line-height: 3.6vh;
  color: white;
  margin-left: 3.2rem;
  text-align: center;
}

.item-ctrl-btn {
  background-color: rgb(107, 133, 107);
  color: white;
  height: 3vh;
  line-height: 3vh;
  border: 0px;
  border-radius: 5px;
  padding-inline: 2vw;
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
}

.item-ctrl-btn:hover {
  background-color: rgb(95, 158, 95);
  cursor: pointer;
}

.customer-select {
  margin-left: 1rem;
  height: 4vh;
  line-height: 4vh;
  width: 25%;
  border: 1px solid black;
  background-color: white;
}

.textarea {
  display: flex;
}
.textarea textarea {
  margin-top: 2.5vh;
  margin-left: 1.3rem;
  padding-inline: 2.5rem;
}

.textarea .form-field {
  /* display: inline-block; */
  width: 10rem;
  padding-inline: 2.5rem;
}

.text-area-label {
  margin-top: 2.5vh;
}

#item-title {
  border: 1px solid black;
}

.form-submit-button {
  margin-top: 2vh;
}
