<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' type='text/css' href='/css/customer-style.css' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Courgette&display=swap'
      rel='stylesheet'
    />
    <script
      src='https://kit.fontawesome.com/74ecf40670.js'
      crossorigin='anonymous'
    ></script>

    <title>Task Manager</title>
  </head>
  <body>
    <nav>
      <div id='controls-area'>
        <div class='home'>
          <a href='/api/v1/todos' style='font-size: 1.5em; color: white'><i
              class='fa-solid fa-house'
            ></i></a>
        </div></div><span>Task Manager</span><div class='add-customer'><button
          class='add-customer-btn'
        >Add Customer</button></div></nav>

    <div class='liveData'>
      {{{body}}}
    </div>

  </body>
</html>